{% extends "base/base.html" %}
{% load static %}

{% block content %}
<h1 class="text-final">Parabéns! Você concluiu a primeira versão do nosso Jogo.</h1>
<iframe width="100%" height="400rem" src="https://www.youtube.com/embed/04854XqcfCY?si=Jd6Y9JcJfR1zMpyy&amp;start=38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p style="text-align:center">Desenvolvido por bolsistas do programa juvtech</p>
{% endblock content %}
