{% extends "base.html" %}
{% block content %}

<div class="login-container" >
  {% comment "" %}
  

  {% endcomment %}
  <img src="https://imagem.natelinha.uol.com.br/original/show-do-milhao-sbt_c8679c010ea0e9bfe8a53fdb990fdfccaeca5c43.jpeg">
  <h1 class="max">Bem vindo ao show do milhão, responda<br> a 10 perguntas e vença o desafio.</h1>
  <form method="POST" action="{% url 'quiz' 1 %}">
      {% csrf_token %}
      <button type="submit" id="loginButton">Ok vamo lá então</button>
  </form>

</div>

{% endblock content %}


